<section ng-controller="statsCtrl">
    <div class="card nba" ng-repeat="g in nbaGames">
        <div class="game-info">
            <span>{{g.arenaName}}</span>
            <span>{{g.arenaCity}}</span>
            <span>{{g.areaState}}</span>
            <span>{{g.clock}}</span>
            <span>{{g.period}}</span>
        </div>
        <div class='team'>
            <div class="team-logo">
                <i class="nba-logo {{g.hTeamTriCode}}">&nbsp;</i>
                <div class="record">
                    <span>{{g.hTeamWin}} &ndash;</span>
                    <span>{{g.hTeamLoss}}</span>
                  </div>
            </div>      
            <div class="team-stats">                
                <p>{{g.hTeamScore}}</p>
                <p>{{g.startTimeEastern}}</p>
            </div>
        </div>
        <div class="team">
            <div class="logo">
                <i class="nba-logo {{g.vTeamTriCode}}">&nbsp;</i>
                <div class="record">
                    <span>{{g.vTeamWin}} &ndash;</span>
                    <span>{{g.vTeamLoss}}</span>
                  </div>
            </div>            
            <div class="team-stats">                
                <p>{{g.vTeamScore}}</p>
            </div>        
        </div>
    </div>
</section>


