<section ng-controller="statsCtrl" class="card nba">
  <div class="game-stats">
    <div data-team="{{ firstTeamAbbr }}" class="team">
      <p class="logo"></p>
      <div class="scores">
        <span class="team-city">{{ firstTeamCity }}</span>
        <span class="team-name">{{ firstTeamName }}</span>
        <p class="team-points">{{ firstTeamPoints }}</p>
      </div>
    </div>
    <div data-team="{{ secondTeamAbbr }}" class="team">
      <p class="logo"></p>
      <div class="scores">
        <span class="team-city">{{ secondTeamCity }}</span>
        <span class="team-city">{{ secondTeamName }}</span>
        <p class="team-points">{{ secondTeamPoints }}</p>
      </div>
    </div>
  </div>
  <ul class="players">
    <li ng-repeat="p in playerStats">
      <div data-team="{{ p.TEAM_ABBREVIATION }}" class="card-block player">
        <p class="player-name">{{ p.PLAYER_NAME }}</p>
        <p class="team"></p>
        <p class="player-points">{{ p.PTS }} Points</p>
      </div>
    </li>
  </ul>
</section>
